**Importing Libraries**

In [76]:
import pandas as pd
import numpy as np

**Load the Data**

In [77]:
user_gameplay_df = pd.read_csv('User Gameplay data.csv')                       
deposit_df = pd.read_csv('Deposit Data.csv')
withdrawal_df = pd.read_csv('Withdrawal Data.csv')

In [78]:
user_gameplay_df
# deposit_df.head(10)

        User ID  Games Played          Datetime
0           851             1  01-10-2022 00:00
1           717             1  01-10-2022 00:00
2           456             1  01-10-2022 00:00
3           424             1  01-10-2022 00:00
4           845             1  01-10-2022 00:00
...         ...           ...               ...
355261      658             1  31-10-2022 23:59
355262      582             1  31-10-2022 23:59
355263      272             1  31-10-2022 23:59
355264      563             1  31-10-2022 23:59
355265      289             1  31-10-2022 23:59

[355266 rows x 3 columns]

**Check if Na values are present in data**

In [79]:
print(user_gameplay_df.isna().sum())
print(deposit_df.isna().sum())
print(withdrawal_df.isna().sum())

User ID         0
Games Played    0
Datetime        0
dtype: int64
User Id     0
Datetime    0
Amount      0
dtype: int64
User Id     0
Datetime    0
Amount      0
dtype: int64

**Convert the Datetime columns to datetime type**

In [80]:
print(user_gameplay_df.info())
# print(deposit_df.info())
print(withdrawal_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355266 entries, 0 to 355265
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   User ID       355266 non-null  int64
 1   Games Played  355266 non-null  int64
 2   Datetime      355266 non-null  object
dtypes: int64(2), object(1)
memory usage: 8.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3566 entries, 0 to 3565
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   User Id   3566 non-null   int64
 1   Datetime  3566 non-null   object
 2   Amount    3566 non-null   int64
dtypes: int64(2), object(1)
memory usage: 83.7+ KB
None

**Convert 'Datetime' columns to datetime objects for easy filtering**

In [81]:
user_gameplay_df['Datetime'] = pd.to_datetime(user_gameplay_df['Datetime'],format='%d-%m-%Y %H:%M', errors='coerce')
deposit_df['Datetime'] = pd.to_datetime(deposit_df['Datetime'], format='%d-%m-%Y %H:%M', errors='coerce')
withdrawal_df['Datetime'] = pd.to_datetime(withdrawal_df['Datetime'], format='%d-%m-%Y %H:%M', errors='coerce')

In [82]:
user_gameplay_df

        User ID  Games Played            Datetime
0           851             1 2022-10-01 00:00:00
1           717             1 2022-10-01 00:00:00
2           456             1 2022-10-01 00:00:00
3           424             1 2022-10-01 00:00:00
4           845             1 2022-10-01 00:00:00
...         ...           ...                 ...
355261      658             1 2022-10-31 23:59:00
355262      582             1 2022-10-31 23:59:00
355263      272             1 2022-10-31 23:59:00
355264      563             1 2022-10-31 23:59:00
355265      289             1 2022-10-31 23:59:00

[355266 rows x 3 columns]

**Checking the changed Datatype**

In [83]:
print(user_gameplay_df.info())
# print(deposit_df.info())
# print(withdrawal_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355266 entries, 0 to 355265
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   User ID       355266 non-null  int64
 1   Games Played  355266 non-null  int64
 2   Datetime      355266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 8.1 MB
None

###  Filter data based on the specified slots and dates

In [84]:
user_gameplay_df['slot'] = user_gameplay_df['Datetime'].apply(lambda x: 'S1' if x.hour < 12 else 'S2')
deposit_df['slot'] = deposit_df['Datetime'].apply(lambda x: 'S1' if x.hour < 12 else 'S2')
withdrawal_df['slot'] = withdrawal_df['Datetime'].apply(lambda x: 'S1' if x.hour < 12 else 'S2')

In [85]:
user_gameplay_df

        User ID  Games Played            Datetime slot
0           851             1 2022-10-01 00:00:00   S1
1           717             1 2022-10-01 00:00:00   S1
2           456             1 2022-10-01 00:00:00   S1
3           424             1 2022-10-01 00:00:00   S1
4           845             1 2022-10-01 00:00:00   S1
...         ...           ...                 ...  ...
355261      658             1 2022-10-31 23:59:00   S2
355262      582             1 2022-10-31 23:59:00   S2
355263      272             1 2022-10-31 23:59:00   S2
355264      563             1 2022-10-31 23:59:00   S2
355265      289             1 2022-10-31 23:59:00   S2

[355266 rows x 4 columns]

In [86]:
deposit_df

       User Id            Datetime  Amount slot
0          357 2022-10-01 00:03:00    2000   S1
1          776 2022-10-01 00:03:00    2500   S1
2          492 2022-10-01 00:06:00    5000   S1
3          803 2022-10-01 00:07:00    5000   S1
4          875 2022-10-01 00:09:00    1500   S1
...        ...                 ...     ...  ...
17433      654 2022-10-31 23:57:00    1200   S2
17434      980 2022-10-31 23:58:00     200   S2
17435        2 2022-10-31 23:58:00   40000   S2
17436      612 2022-10-31 23:58:00    2800   S2
17437      786 2022-10-31 23:59:00   20000   S2

[17438 rows x 4 columns]

***

# Part A - Calculating loyalty points

On each day, there are 2 slots for each of which the loyalty points are to be calculated:
S1 from 12am to 12pm 
S2 from 12pm to 12am

### 1. Find Playerwise Loyalty points earned by Players in the following slots:-<br>
    a. 2nd October Slot S1<br>
    b. 16th October Slot S2<br>
    b. 18th October Slot S1<br>
    b. 26th October Slot S2

In [87]:
# Filter data for specific dates and slots
specific_dates = [
    ('10-02', 'S1'),#month - day ,slot
    ('10-16', 'S2'),
    ('10-18', 'S1'),
    ('10-26', 'S2')
    
]
default_year = 2022

**The criteria to convert number of games played, deposits and withdrawal into points is given as below :**

In [88]:
deposit_weight = 0.01
withdrawal_weight = 0.005
gameplay_weight = 0.2
deposit_vs_withdrawal_weight = 0.001

loyalty_points_results = []

In [89]:
for date, slot in specific_dates:
    target_date = pd.to_datetime(f"{default_year}-{date}", format='%Y-%m-%d')#taking date in target_date as 2022-10-02
    # print(target_date)

    #Filtering data based on date and slot for user_gameplay_df and storing in gameplay_slot

    gameplay_slot = user_gameplay_df[
        (user_gameplay_df['Datetime'].dt.month == target_date.month) &
        (target_date.day == user_gameplay_df['Datetime'].dt.day ) &
        (user_gameplay_df['slot'] == slot)
    ]

    #Filtering data based on date and slot for deposit_df and storing in deposit_slot
    deposit_slot = deposit_df[
        (deposit_df['Datetime'].dt.month == target_date.month) &
        (deposit_df['Datetime'].dt.day == target_date.day) &
        (deposit_df['slot'] == slot)]
    
    #Filtering data based on date and slot for withdrawal_df and storing in withdrawal_slot
    withdrawal_slot = withdrawal_df[
        (withdrawal_df['Datetime'].dt.month == target_date.month) &
        (withdrawal_df['Datetime'].dt.day == target_date.day) &
        (withdrawal_df['slot'] == slot)]
    
    # Calculate loyalty points 

    for user_id in gameplay_slot['User ID'].unique():

        #getting games played,deposit_amount,withdrawal_amount for finding points based on them
        games_played = gameplay_slot[gameplay_slot['User ID'] == user_id]['Games Played'].sum()
        deposit_amount = deposit_slot[deposit_slot['User Id'] == user_id]['Amount'].sum()
        withdrawal_amount = withdrawal_slot[withdrawal_slot['User Id'] == user_id]['Amount'].sum()
        
        #getting num_deposits and num_withdrawals for finding bonus_points
        num_deposits = deposit_slot[deposit_slot['User Id'] == user_id].shape[0]
        num_withdrawals = withdrawal_slot[withdrawal_slot['User Id'] == user_id].shape[0]
        
        # Calculate points
        points_from_deposit = deposit_weight * deposit_amount
        points_from_withdrawal = withdrawal_weight * withdrawal_amount
        points_from_games = gameplay_weight * games_played
        bonus_points = deposit_vs_withdrawal_weight * max(num_deposits - num_withdrawals, 0)
        
        # Total points
        total_points = points_from_deposit + points_from_withdrawal + points_from_games + bonus_points
        
        # Store the results
        loyalty_points_results.append({
            'User Id': user_id,
            'Date': date,
            'Slot': slot,
            'Loyalty Points': total_points
        })

# Convert to DataFrame
loyalty_points_df = pd.DataFrame(loyalty_points_results)

In [90]:
print(loyalty_points_df)

      User Id   Date Slot  Loyalty Points
0         250  10-02   S1           0.600
1         418  10-02   S1           3.600
2         502  10-02   S1         112.990
3         765  10-02   S1          76.200
4           8  10-02   S1           1.200
...       ...    ...  ...             ...
2169      138  10-26   S2           0.200
2170      369  10-26   S2        1501.915
2171      694  10-26   S2          11.201
2172      145  10-26   S2           0.200
2173      469  10-26   S2           0.200

[2174 rows x 4 columns]

**Loyalty Points earned by players on 2nd of october in slot S1**

In [91]:
loyalty_points_df[
    (loyalty_points_df['Date']== '10-02') &
    (loyalty_points_df['Slot'] == 'S1')
]

     User Id   Date Slot  Loyalty Points
0        250  10-02   S1            0.60
1        418  10-02   S1            3.60
2        502  10-02   S1          112.99
3        765  10-02   S1           76.20
4          8  10-02   S1            1.20
..       ...    ...  ...             ...
554      469  10-02   S1            0.20
555       19  10-02   S1            0.20
556      251  10-02   S1            0.20
557      403  10-02   S1           50.20
558      584  10-02   S1            0.20

[559 rows x 4 columns]

**Loyalty Points earned by players on 16th October in Slot S2**

In [92]:
loyalty_points_df[
    (loyalty_points_df['Date']== '10-16') &
    (loyalty_points_df['Slot'] == 'S2')
]

      User Id   Date Slot  Loyalty Points
559       442  10-16   S2           4.600
560       460  10-16   S2           3.400
561       524  10-16   S2           1.400
562       663  10-16   S2         130.001
563       843  10-16   S2           2.200
...       ...    ...  ...             ...
1069      841  10-16   S2           0.200
1070      504  10-16   S2           0.200
1071      977  10-16   S2           0.200
1072      749  10-16   S2           0.200
1073      416  10-16   S2           0.200

[515 rows x 4 columns]

**Loyalty Points earned by players on 18th October in Slot S1**

In [93]:
loyalty_points_df[
    (loyalty_points_df['Date']== '10-18') &
    (loyalty_points_df['Slot'] == 'S1')
]

      User Id   Date Slot  Loyalty Points
1074      754  10-18   S1          17.000
1075      449  10-18   S1          41.601
1076      748  10-18   S1           8.000
1077      137  10-18   S1          60.401
1078      956  10-18   S1           0.400
...       ...    ...  ...             ...
1616      719  10-18   S1           0.200
1617      215  10-18   S1           0.200
1618      117  10-18   S1           0.200
1619      549  10-18   S1           0.200
1620      664  10-18   S1           0.200

[547 rows x 4 columns]

**Loyalty Points earned by players on 26th October Slot S2**

In [94]:
loyalty_points_df[
    (loyalty_points_df['Date']== '10-26') &
    (loyalty_points_df['Slot'] == 'S2')
]

      User Id   Date Slot  Loyalty Points
1621      659  10-26   S2          43.801
1622      765  10-26   S2          88.800
1623      716  10-26   S2           0.200
1624      605  10-26   S2           0.800
1625      270  10-26   S2           2.000
...       ...    ...  ...             ...
2169      138  10-26   S2           0.200
2170      369  10-26   S2        1501.915
2171      694  10-26   S2          11.201
2172      145  10-26   S2           0.200
2173      469  10-26   S2           0.200

[553 rows x 4 columns]

### 2. Calculate overall loyalty points earned and rank players on the basis of loyalty points in the month of October. 
###     In case of tie, number of games played should be taken as the next criteria for ranking.

In [95]:
#For loyalty points of al the users in october
loyalty_points_all_user = []

for user_id in user_gameplay_df['User ID'].unique():
    
    user_gameplay_october = user_gameplay_df[
        (user_gameplay_df['User ID'] == user_id) &
        (user_gameplay_df['Datetime'].dt.month == 10)
    ]
    
    user_deposit_october = deposit_df[
        (deposit_df['User Id'] == user_id) &
        (deposit_df['Datetime'].dt.month == 10)
    ]
    
    user_withdrawal_october = withdrawal_df[
        (withdrawal_df['User Id'] == user_id) &
        (withdrawal_df['Datetime'].dt.month == 10)
    ]
    
    games_played = user_gameplay_october['Games Played'].sum()
    deposit_amount = user_deposit_october['Amount'].sum()
    withdrawal_amount = user_withdrawal_october['Amount'].sum()
    
    num_deposits = user_deposit_october.shape[0]
    num_withdrawals = user_withdrawal_october.shape[0]
    
    # Calculate points
    points_from_deposit = deposit_weight * deposit_amount
    points_from_withdrawal = withdrawal_weight * withdrawal_amount
    points_from_games = gameplay_weight * games_played
    bonus_points = deposit_vs_withdrawal_weight * max(num_deposits - num_withdrawals, 0)
    
    total_points = points_from_deposit + points_from_withdrawal + points_from_games + bonus_points
    
    # Append the results to the list
    loyalty_points_all_user.append({
        'User Id': user_id,
        'Loyalty Points': total_points,
        'Games Played': games_played
    })


loyalty_points_df = pd.DataFrame(loyalty_points_all_user)

# Ranking by loyalty points and games played.
ranked_points = loyalty_points_df.sort_values(
    by=['Loyalty Points', 'Games Played'], 
    ascending=[False, False]
).reset_index(drop=True)

# Adding a ranking column
ranked_points['Rank'] = ranked_points.index + 1

# Displaying the top players
print(ranked_points)

     User Id  Loyalty Points  Games Played  Rank
0        634       83843.325            24     1
1         99       23665.737            10     2
2        672       22757.780            10     3
3        212       22199.282             1     4
4        740       19211.824             2     5
..       ...             ...           ...   ...
995      388           0.400             2   996
996      507           0.400             2   997
997      858           0.400             2   998
998      643           0.400             2   999
999       38           0.200             1  1000

[1000 rows x 4 columns]

### 3. What is the average deposit amount?

In [96]:
average_deposit = deposit_df['Amount'].mean()
print("Average Deposit Amount:", average_deposit.round(2))

Average Deposit Amount: 5492.19

### 4. What is the average deposit amount per user in a month?

In [102]:
deposit_avg_per_user = deposit_df.groupby('User Id')['Amount'].mean()
deposit_avg_per_user = deposit_avg_per_user.rename("Average Deposited").reset_index()
deposit_avg_per_user.columns = ['User ID', 'Average Deposited']
deposit_avg_per_user['Average Deposited'] = deposit_avg_per_user['Average Deposited'].round(2)

print(deposit_avg_per_user.to_string(index=False))

 User ID  Average Deposited
       1            5000.00
       2           28350.00
       3           10000.00
       4            1750.00
       5            1105.97
       6            1328.57
       9            1776.92
      10            1991.05
      11            2204.76
      12            1911.60
      13            5000.00
      14             464.29
      15            5000.00
      16            6670.39
      17            1291.67
      18             990.00
      19            3928.57
      20           10000.00
      21           15500.00
      22            1000.00
      23             876.12
      24            2109.52
      25            2937.50
      26             655.56
      27            5570.83
      28           21663.27
      29            2000.00
      30           26058.82
      31            1662.09
      32            4569.23
      33             500.00
      34            1500.00
      36           10000.00
      37           10000.00
      39            3056.82
      41            3000.00
      42            5750.00
      44             306.88
      45            1660.94
      46           18250.00
      47            2027.27
      49            1500.00
      50            1270.00
      51            5571.43
      52            4184.55
      53            5631.58
      54            6500.00
      55            1353.85
      56            2110.00
      58            1340.50
      59            5833.33
      60            2960.00
      61            2000.00
      62             812.00
      63           12652.80
      64            5500.00
      65            1000.00
      66            1550.00
      67            2000.00
      68            1821.00
      69            5016.67
      70            5879.43
      71            1069.35
      72             940.74
      73           25000.00
      74            2400.00
      75            2000.00
      76            1419.80
      77            4262.50
      78            4968.75
      79            1500.00
      80            3837.36
      81            9500.00
      82            9877.00
      83            1150.14
      84           13812.50
      85            2194.35
      86            7666.67
      87            2000.00
      88           10000.00
      89           10000.00
      90            2778.43
      91            3987.50
      92             500.00
      93            8105.26
      94             379.75
      95            2000.00
      96            2000.00
      97            2039.71
      98             300.00
      99           24782.98
     100           10408.33
     101           20000.00
     102           26361.11
     103            1083.33
     104            8555.56
     105            1000.00
     106            1013.56
     107            2315.79
     108            4600.00
     109            1000.00
     110            6000.00
     112           13318.18
     113            7750.00
     114            4921.18
     115            5000.00
     116            3900.00
     117           10000.00
     118            2750.00
     119            1000.00
     120            4000.00
     121           10000.00
     122            1289.66
     123            3777.67
     124            1000.00
     125             688.46
     126           26888.89
     127            2100.00
     128             875.00
     129            1000.00
     130           13520.00
     131            2289.47
     132            2300.00
     133             503.26
     134            1000.00
     135            1000.00
     136            1666.67
     137            7923.08
     139             385.52
     140           10000.00
     141            8060.81
     144           25000.00
     145            3938.00
     146           14625.00
     147            9800.00
     148             560.00
     149            3974.29
     151            1000.00
     152            5000.00
     153            8201.09
     155             985.71
     156            5000.00
     157            2315.00
     158            1937.95
     159            7315.79
     160            6666.67
     161            2183.85
     162            9760.00
     163            1785.71
     164            3357.14
     166            1857.14
     167             740.62
     168            4351.32
     169            6000.00
     170            2500.00
     171            4333.33
     172             100.00
     173            9331.48
     174             714.00
     175            5666.67
     176             900.00
     177            2000.00
     178           17142.86
     179           19333.33
     180            2000.00
     181           21000.00
     182           49687.50
     183            6278.12
     184           10000.00
     185            2095.24
     186            1750.00
     187            4350.00
     188             300.00
     190            2318.52
     191            2000.00
     192            1600.00
     193            3165.64
     194            3637.50
     196           28333.33
     198             970.00
     199            4666.67
     200           67499.75
     201            8500.33
     202           13806.90
     203           25000.00
     204            1818.10
     206            4236.36
     207            1887.50
     208           18426.69
     209             191.67
     210             366.67
     211            1500.00
     212           74037.73
     213            9000.00
     214            5944.74
     215            3700.00
     216            2000.00
     217            5000.00
     218            2068.18
     219            1812.50
     220            3333.33
     221             963.50
     222           80312.50
     223           75000.00
     224            5000.00
     225            1000.00
     226            2000.00
     228            2000.00
     229           10113.58
     230             382.67
     231            2777.00
     232             500.00
     234             907.00
     235            2837.84
     236             275.00
     237           23333.33
     238           20520.00
     239            1112.50
     240           12652.17
     241            2000.00
     242            4059.35
     245            8378.00
     246            1004.00
     247            5000.00
     248             653.85
     249            3000.00
     251            1252.22
     252             122.50
     253            7466.67
     254            1533.33
     255             500.00
     256            4640.00
     257            9333.33
     258            2135.48
     259            7165.39
     260            1000.00
     261            4400.00
     262             701.48
     263            1470.33
     264            1011.11
     266            5411.11
     268            8333.33
     269            8911.11
     270            3786.67
     271           17800.00
     273            4600.00
     274             835.61
     275             961.92
     276            1800.00
     277            1000.00
     278            1000.00
     279           15450.00
     280             647.17
     281            2200.00
     282            2500.00
     283            1138.46
     284             685.00
     285            6528.10
     286            5600.00
     287            4500.00
     288            3830.00
     289            2522.58
     290           11000.00
     291            1000.00
     292            1486.82
     293             750.00
     294           14821.95
     295           15000.00
     296            1472.58
     297            3500.00
     298           12333.33
     299            3789.47
     301            1812.50
     302             958.33
     303            6600.00
     304            7785.71
     305            1319.56
     306           14491.23
     307            5000.00
     308            9250.00
     309            2386.36
     310            5750.00
     311            8000.00
     313            2714.29
     314             863.64
     316             456.69
     317           10693.00
     318            4166.67
     319            1011.50
     320           10000.00
     321            1200.00
     322            2071.43
     323            1000.00
     325            6000.00
     326            4277.78
     327             443.75
     328            2800.00
     329            2461.54
     330            1954.55
     331            3000.00
     332           10000.00
     333             500.00
     334            3404.38
     335            4500.00
     336           11304.76
     337            1437.50
     338            1207.70
     340            6382.35
     341            4819.15
     342            1708.94
     343            7375.00
     344           17327.78
     345            1000.00
     346            2000.00
     347            5625.25
     348            3375.00
     349             750.00
     350            5000.00
     351             362.22
     352            8461.20
     353           11833.33
     354            7254.93
     355           10000.00
     356            1900.75
     357            7593.07
     358            2000.00
     359             300.00
     360            5000.00
     361            6460.00
     362            2000.00
     364            1375.00
     365           31100.00
     366            5636.90
     367             750.00
     368            1790.00
     369           50000.00
     370            8583.33
     371            4767.65
     372            8673.22
     373            7850.00
     375            5000.00
     376           10000.00
     377           12857.14
     378            1348.33
     379             392.64
     380            1150.50
     381            3454.55
     382            2310.00
     383            1754.55
     384            5666.67
     385            5000.00
     386           66000.00
     387             250.00
     389            4000.00
     390            2736.83
     392            2500.00
     393             244.74
     394            1687.94
     395            3160.00
     396             443.80
     397            2362.50
     398            5000.00
     399            3100.00
     400            5221.74
     401           25000.00
     402            4557.14
     403            3333.33
     404            3500.00
     405            4000.00
     406             550.00
     407            6027.91
     408            3302.08
     409            4717.39
     410            1000.00
     411           23500.00
     412            4014.29
     413            1000.00
     414           26250.00
     415           58333.33
     416            1833.33
     417           38333.33
     418           10000.00
     420             562.07
     421            8874.75
     422            5437.50
     423             981.25
     424            2024.42
     425            5000.00
     426            4026.32
     427           12000.00
     428             943.75
     429             625.48
     430            1937.50
     431             678.80
     432             666.67
     433            5425.00
     434            2875.00
     436            2548.57
     437           27500.00
     438          200000.00
     439           10814.95
     440            1690.00
     441            5750.00
     442           20000.00
     443            1000.00
     444            1500.00
     445            2046.67
     446           11000.00
     448            4068.22
     449           15286.92
     450             900.92
     451            5000.00
     452            2107.14
     453            1336.67
     454            2716.67
     455            9011.63
     456           27750.00
     457            2000.00
     458             884.06
     459            5000.00
     461            1795.39
     462            1333.33
     463            1000.00
     464           22100.00
     465             900.00
     466            2275.00
     467           15153.57
     468           62500.00
     469            5000.00
     470            3550.00
     471           28333.33
     472            1700.00
     473            2641.32
     474            8539.27
     475            4333.33
     476            8465.62
     477            6950.00
     478             540.00
     479            5100.00
     480            2000.00
     481            1000.00
     482            1625.00
     483            1750.00
     484            2018.24
     485           12000.00
     486            1500.00
     487            9090.91
     488            5038.09
     489            5000.00
     491            2625.00
     492            2394.74
     493           15500.00
     494            5000.00
     495           23250.00
     496            7561.11
     497            1575.96
     498             681.33
     499             760.00
     500             226.67
     501             871.00
     502            1663.06
     503            1184.00
     505            6566.67
     506            1000.00
     508           10158.69
     510            4837.50
     511            1523.00
     512            1000.00
     513            1256.58
     514            1696.72
     515           41428.57
     516            2487.50
     517            8800.00
     518             515.62
     519            1967.58
     520           12200.00
     521           10000.00
     522            5000.00
     523            5181.82
     525             758.81
     526            6509.22
     527           15000.00
     528            5000.00
     529            5333.33
     530            1588.89
     532             824.48
     533            4180.00
     534            2725.00
     535            3463.50
     536              91.58
     537           12000.00
     538           37962.96
     539            2685.05
     540           63750.00
     541            9375.18
     542           21400.00
     543            2000.00
     544             119.57
     546           25000.00
     547           12029.27
     548            1335.80
     549            6250.00
     550           10000.00
     551            5000.00
     552             500.00
     553             946.43
     554            2359.38
     555            5000.00
     556            2000.00
     557            4000.00
     558             766.67
     559           37500.00
     560            1925.08
     561             758.33
     562            2320.00
     563             512.90
     564           10500.00
     565            2278.71
     566           34324.06
     567            1261.36
     568            1425.00
     569           53381.74
     570            1144.92
     571            1974.67
     572             301.88
     573            1550.00
     574            2126.47
     575            2500.00
     576            1000.00
     577           10973.00
     578             335.77
     580           10000.00
     581           27142.86
     583            7498.64
     584            8000.00
     586            2381.58
     587            7547.19
     588            3352.38
     592             700.00
     593            2000.00
     594            2000.00
     596            3000.00
     597            2000.00
     598            2750.00
     599            4516.36
     600            2281.25
     601           30093.22
     602           18100.00
     603            1500.00
     604            2442.50
     605            1429.59
     607            1575.60
     608            6428.57
     609            5000.00
     610            3000.00
     612           10467.92
     613             885.96
     614            1271.09
     615             833.33
     616            7000.00
     617             500.00
     618            1963.08
     619           53615.38
     620            5000.00
     621            1000.00
     622             510.00
     623            1000.00
     624           35000.00
     625            8908.70
     626            1500.00
     627            4000.00
     628            3951.26
     629            2000.00
     630            1000.00
     631            4711.75
     632            1118.52
     633            1925.49
     634           64375.00
     635            1303.29
     636           23100.00
     637            1600.73
     638             400.00
     639            3375.00
     640            1770.00
     641            1404.69
     642            5000.00
     644             972.09
     645            4600.00
     646           13750.00
     647            1864.04
     648            1162.73
     649            5000.00
     650            6250.00
     651           15434.78
     652            8345.45
     653           14615.38
     654            1435.31
     655            2121.43
     656            1000.00
     657           15333.33
     658            3551.62
     659            6333.33
     660             512.22
     661            1000.00
     662            2000.00
     663            8173.08
     664            2527.50
     665            5333.33
     666            7125.00
     667            8286.91
     668            3641.48
     669             500.00
     670            2062.50
     672           61677.14
     673            5506.69
     674            5000.00
     675           13250.00
     676            1318.75
     677            3519.46
     678           17227.27
     679            3000.00
     680             800.00
     681           10600.00
     682            2000.00
     683           10885.71
     684             435.71
     685            3250.00
     686            1100.00
     687           13512.26
     689             953.56
     690            3308.97
     691             984.29
     692             500.00
     693            6000.00
     694            2486.17
     695             789.37
     696            2333.33
     698             875.00
     699            3555.56
     700            5633.33
     701            2550.00
     702            1000.00
     703            3000.00
     704            7474.00
     705            7000.00
     707           11815.18
     708            6427.22
     709            9483.33
     710           28333.33
     711            5000.00
     712            1000.00
     713           11666.67
     714           49302.94
     715            2000.00
     716             369.42
     717            2257.69
     718            1600.00
     719            1043.68
     720              97.50
     721            6825.00
     722            8335.71
     723            1260.00
     724             878.79
     726             350.00
     727           17500.00
     728            1147.00
     729             641.67
     730            7705.56
     731            1919.53
     732            1669.23
     733            6100.00
     734            3855.56
     735           12700.00
     736            1000.00
     737            1110.00
     739           10875.00
     740           19104.29
     741            1000.00
     742            1608.75
     743            2833.33
     744             700.10
     745            1479.55
     746            3333.33
     747            7772.73
     748            5730.77
     749            1793.10
     750            1915.22
     751            5057.73
     752            5000.00
     753            7500.00
     754            8645.83
     755            1000.00
     756            5000.00
     758             927.27
     759            1335.00
     760            3887.50
     761           15000.00
     762            2517.56
     763            1189.77
     764           37428.57
     766             589.14
     767            1000.00
     768           40000.00
     769            8000.00
     770            1000.00
     772           26770.83
     773             404.43
     774           55000.00
     775            8666.67
     776            1116.67
     777            1593.97
     778            2750.00
     779            1858.06

### 5. What is the average number of games played per user?

In [103]:
average_games_played_per_user = user_gameplay_df.groupby('User ID')['Games Played'].mean().reset_index()
total_games_played = user_gameplay_df.groupby('User ID')['Games Played'].count().reset_index()
total_games_played.rename(columns={'Games Played': 'Games Played (Count)'}, inplace=True)
average_games_played_per_user = average_games_played_per_user.merge(total_games_played, on='User ID')
average_games_played_per_user.rename(columns={'Games Played': 'Average Games Played'}, inplace=True)
average_games_played_per_user['Average Games Played'] = average_games_played_per_user['Average Games Played'].round(2)


print(average_games_played_per_user.to_string(index=False))

 User ID  Average Games Played  Games Played (Count)
       0                   1.0                    15
       1                   1.0                     8
       2                   1.0                    97
       3                   1.0                    80
       4                   1.0                     5
       5                   1.0                   391
       6                   1.0                    67
       7                   1.0                    61
       8                   1.0                   497
       9                   1.0                  3416
      10                   1.0                   658
      11                   1.0                   769
      12                   1.0                   189
      13                   1.0                     3
      14                   1.0                    14
      15                   1.0                    34
      16                   1.0                  2093
      17                   1.0                   245
      18                   1.0                     7
      19                   1.0                    57
      20                   1.0                     2
      21                   1.0                    59
      22                   1.0                     3
      23                   1.0                   197
      24                   1.0                   266
      25                   1.0                     1
      26                   1.0                     3
      27                   1.0                  1884
      28                   1.0                    37
      29                   1.0                    23
      30                   1.0                    13
      31                   1.0                   989
      32                   1.0                    29
      33                   1.0                     8
      34                   1.0                    11
      35                   1.0                     3
      36                   1.0                    83
      37                   1.0                    16
      38                   1.0                     1
      39                   1.0                  4265
      40                   1.0                     7
      41                   1.0                     8
      42                   1.0                   401
      43                   1.0                  1055
      44                   1.0                    13
      45                   1.0                   222
      46                   1.0                    34
      47                   1.0                   394
      48                   1.0                    11
      49                   1.0                     2
      50                   1.0                     6
      51                   1.0                     1
      52                   1.0                   234
      53                   1.0                   639
      54                   1.0                    43
      55                   1.0                   134
      56                   1.0                     1
      57                   1.0                   163
      58                   1.0                    18
      59                   1.0                    72
      60                   1.0                     4
      61                   1.0                    30
      62                   1.0                     7
      63                   1.0                   140
      64                   1.0                    41
      65                   1.0                    19
      66                   1.0                     4
      67                   1.0                    22
      68                   1.0                     3
      69                   1.0                    31
      70                   1.0                     1
      71                   1.0                   183
      72                   1.0                    91
      73                   1.0                     2
      74                   1.0                   169
      75                   1.0                    18
      76                   1.0                    10
      77                   1.0                   624
      78                   1.0                   602
      79                   1.0                    13
      80                   1.0                    65
      81                   1.0                    86
      82                   1.0                     3
      83                   1.0                   103
      84                   1.0                   244
      85                   1.0                  2619
      86                   1.0                     4
      87                   1.0                     3
      88                   1.0                    43
      89                   1.0                  2342
      90                   1.0                   195
      91                   1.0                     1
      92                   1.0                    13
      93                   1.0                   487
      94                   1.0                    31
      95                   1.0                    91
      96                   1.0                    37
      97                   1.0                   694
      98                   1.0                    17
      99                   1.0                    10
     100                   1.0                     1
     101                   1.0                    12
     102                   1.0                   116
     103                   1.0                    36
     104                   1.0                    55
     105                   1.0                     2
     106                   1.0                     2
     107                   1.0                    48
     108                   1.0                   197
     109                   1.0                     8
     110                   1.0                    59
     111                   1.0                    42
     112                   1.0                     3
     113                   1.0                     4
     114                   1.0                    28
     115                   1.0                    19
     116                   1.0                    14
     117                   1.0                    79
     118                   1.0                     6
     119                   1.0                    19
     120                   1.0                    85
     121                   1.0                    69
     122                   1.0                    50
     123                   1.0                     4
     124                   1.0                    56
     125                   1.0                     4
     126                   1.0                     6
     127                   1.0                     2
     128                   1.0                    39
     129                   1.0                    11
     130                   1.0                    27
     131                   1.0                   170
     132                   1.0                   167
     133                   1.0                     2
     134                   1.0                    11
     135                   1.0                     3
     136                   1.0                    74
     137                   1.0                  3521
     138                   1.0                    70
     139                   1.0                   912
     140                   1.0                   206
     141                   1.0                   925
     142                   1.0                    37
     143                   1.0                   269
     144                   1.0                    27
     145                   1.0                    16
     146                   1.0                   519
     147                   1.0                    37
     148                   1.0                    41
     149                   1.0                     1
     150                   1.0                   597
     151                   1.0                   223
     152                   1.0                   678
     153                   1.0                    51
     154                   1.0                   349
     155                   1.0                     6
     156                   1.0                   119
     157                   1.0                   253
     158                   1.0                     8
     159                   1.0                     1
     160                   1.0                   232
     161                   1.0                     4
     162                   1.0                     2
     163                   1.0                    49
     164                   1.0                    17
     165                   1.0                     3
     166                   1.0                    86
     167                   1.0                     3
     168                   1.0                  1340
     169                   1.0                    50
     170                   1.0                    27
     171                   1.0                   235
     172                   1.0                    24
     173                   1.0                     3
     174                   1.0                     5
     175                   1.0                    33
     176                   1.0                    30
     177                   1.0                     8
     178                   1.0                     7
     179                   1.0                   763
     180                   1.0                    12
     181                   1.0                  3011
     182                   1.0                  2446
     183                   1.0                   433
     184                   1.0                   162
     185                   1.0                    33
     186                   1.0                    96
     187                   1.0                   236
     188                   1.0                    38
     189                   1.0                    69
     190                   1.0                   175
     191                   1.0                    12
     192                   1.0                     9
     193                   1.0                     1
     194                   1.0                  1458
     195                   1.0                    15
     196                   1.0                   248
     197                   1.0                   880
     198                   1.0                    13
     199                   1.0                   130
     200                   1.0                     4
     201                   1.0                    23
     202                   1.0                     3
     203                   1.0                     3
     204                   1.0                   823
     205                   1.0                  3646
     206                   1.0                  1050
     207                   1.0                    27
     208                   1.0                   507
     209                   1.0                    18
     210                   1.0                    58
     211                   1.0                     4
     212                   1.0                     1
     213                   1.0                   138
     214                   1.0                    56
     215                   1.0                    73
     216                   1.0                     9
     217                   1.0                    18
     218                   1.0                  3839
     219                   1.0                    23
     220                   1.0                    15
     221                   1.0                     2
     222                   1.0                    10
     223                   1.0                    21
     224                   1.0                    72
     225                   1.0                     3
     226                   1.0                    33
     227                   1.0                   659
     228                   1.0                     3
     229                   1.0                    13
     230                   1.0                    10
     231                   1.0                   298
     232                   1.0                     2
     233                   1.0                  1196
     234                   1.0                     6
     235                   1.0                    39
     236                   1.0                     9
     237                   1.0                  3297
     238                   1.0                   899
     239                   1.0                    13
     240                   1.0                  1606
     241                   1.0                     9
     242                   1.0                   535
     243                   1.0                     5
     244                   1.0                     2
     245                   1.0                     3
     246                   1.0                     6
     247                   1.0                  6642
     248                   1.0                    61
     249                   1.0                    27
     250                   1.0                    90
     251                   1.0                    23
     252                   1.0                    33
     253                   1.0                     4
     254                   1.0                     3
     255                   1.0                    26
     256                   1.0                    78
     257                   1.0                    12
     258                   1.0                   496
     259                   1.0                   126
     260                   1.0                    14
     261                   1.0                    53
     262                   1.0                     1
     263                   1.0                    30
     264                   1.0                   381
     265                   1.0                    26
     266                   1.0                   209
     267                   1.0                     2
     268                   1.0                     3
     269                   1.0                    37
     270                   1.0                   529
     271                   1.0                    30
     272                   1.0                  2833
     273                   1.0                   783
     274                   1.0                     7
     275                   1.0                    24
     276                   1.0                    16
     277                   1.0                    96
     278                   1.0                    36
     279                   1.0                     2
     280                   1.0                   119
     281                   1.0                    29
     282                   1.0                   120
     283                   1.0                   182
     284                   1.0                     5
     285                   1.0                    46
     286                   1.0                    72
     287                   1.0                    84
     288                   1.0                     3
     289                   1.0                  1112
     290                   1.0                    19
     291                   1.0                   195
     292                   1.0                     8
     293                   1.0                     2
     294                   1.0                     5
     295                   1.0                    33
     296                   1.0                  2723
     297                   1.0                   117
     298                   1.0                     7
     299                   1.0                     1
     300                   1.0                  1245
     301                   1.0                   102
     302                   1.0                     3
     303                   1.0                   960
     304                   1.0                   176
     305                   1.0                   675
     306                   1.0                     4
     307                   1.0                   148
     308                   1.0                     6
     309                   1.0                  1268
     310                   1.0                    27
     311                   1.0                    19
     312                   1.0                     5
     313                   1.0                   686
     314                   1.0                   116
     315                   1.0                    41
     316                   1.0                    17
     317                   1.0                    30
     318                   1.0                   711
     319                   1.0                    11
     320                   1.0                   153
     321                   1.0                     3
     322                   1.0                    38
     323                   1.0                    26
     324                   1.0                   692
     325                   1.0                    62
     326                   1.0                   160
     327                   1.0                    16
     328                   1.0                     2
     329                   1.0                   267
     330                   1.0                   423
     331                   1.0                    24
     332                   1.0                    85
     333                   1.0                    29
     334                   1.0                   103
     335                   1.0                   357
     336                   1.0                   109
     337                   1.0                   240
     338                   1.0                   320
     339                   1.0                   248
     340                   1.0                    51
     341                   1.0                   137
     342                   1.0                   868
     343                   1.0                    39
     344                   1.0                     3
     345                   1.0                    14
     346                   1.0                    22
     347                   1.0                    25
     348                   1.0                   129
     349                   1.0                    21
     350                   1.0                    11
     351                   1.0                    30
     352                   1.0                   313
     353                   1.0                    21
     354                   1.0                   188
     355                   1.0                   317
     356                   1.0                   104
     357                   1.0                   190
     358                   1.0                    13
     359                   1.0                    12
     360                   1.0                    14
     361                   1.0                     2
     362                   1.0                     1
     363                   1.0                    48
     364                   1.0                    46
     365                   1.0                  3667
     366                   1.0                   110
     367                   1.0                    74
     368                   1.0                     6
     369                   1.0                    37
     370                   1.0                    27
     371                   1.0                   221
     372                   1.0                  1310
     373                   1.0                   199
     374                   1.0                   192
     375                   1.0                   927

***

# Part B - How much bonus should be allocated to leaderboard players?

After calculating the loyalty points for the whole month find out which 50 players are at the top of the leaderboard. The company has allocated a pool of Rs 50000 to be given away as bonus money to the loyal players.

Now the company needs to determine how much bonus money should be given to the players.

Should they base it on the amount of loyalty points? Should it be based on number of games? Or something else?

That’s for you to figure out.

Suggest a suitable way to divide the allocated money keeping in mind the following points:
### 1. Only top 50 ranked players are awarded bonus

Q) Should they base it on the amount of loyalty points? Should it be based on number of games? Or something else?<br>
Ans) I have based it on ranking that is done above and on bonus distribution based on top 10 players as higher earners, keeping others price same.

In [101]:
#List of top 10 bonuses
top_10_bonus = [10000, 7500, 5000, 4000, 3500, 3000, 2500, 2000, 1500, 1000]
#remaining 40 bonuses = 250
remaining_bonus = 250

# Assigning bonuses
ranked_points['Bonus'] = 0
ranked_points.loc[:9, 'Bonus'] = top_10_bonus  # Top 10 bonuses
ranked_points.loc[10:49, 'Bonus'] = remaining_bonus  # Remaining 40 bonuses

ranked_points[['User Id', 'Rank', 'Loyalty Points', 'Games Played', 'Bonus']].head(50)

    User Id  Rank  Loyalty Points  Games Played  Bonus
0       634     1       83843.325            24  10000
1        99     2       23665.737            10   7500
2       672     3       22757.780            10   5000
3       212     4       22199.282             1   4000
4       740     5       19211.824             2   3500
5       566     6       19153.755           183   3000
6       714     7       16764.234             6   2500
7       421     8       15446.460          1557   2000
8       369     9       14438.444            37   1500
9        30    10       14053.375            13   1000
10      587    11       13638.881           734    250
11      222    12       13348.803            10    250
12      352    13       13040.650           313    250
13      365    14       12855.075          3667    250
14      920    15       12535.800           932    250
15      162    16       12483.600             2    250
16      415    17       12304.415            26    250
17      569    18       12285.423            38    250
18      786    19       12097.216             7    250
19        2    20       12040.475            97    250
20      238    21       11638.838           899    250
21      992    22       11627.777          2483    250
22       28    23       10622.449            37    250
23      538    24       10298.616            29    250
24      208    25        9840.406           507    250
25      989    26        9789.200          3471    250
26      978    27        9399.005            74    250
27      915    28        9340.002             8    250
28      678    29        9292.421            12    250
29       78    30        9134.900           602    250
30      909    31        9068.070             1    250
31      182    32        8840.907          2446    250
32       93    33        8814.822           487    250
33      200    34        8365.783             4    250
34      259    35        8265.515           126    250
35      306    36        8260.857             4    250
36      344    37        8239.608             3    250
37      601    38        8128.062            33    250
38      515    39        7882.608           413    250
39      294    40        7633.973             5    250
40      681    41        7551.664             8    250
41      950    42        7498.395             4    250
42      675    43        7102.849           639    250
43      663    44        6981.217          6401    250
44      438    45        6974.456             1    250
45      619    46        6970.413             2    250
46      245    47        6656.115             3    250
47      547    48        6410.942          1248    250
48      612    49        6402.050          1543    250
49      949    50        6262.112             1    250

*Why This Approach Works*
1. Encourages Top Performance:

    Giving larger rewards to the top 10 players creates a competitive incentive for players to aim for the top ranks.
    Rewards for exceptional effort and contribution help build loyalty among high-value players.

2. Fairness to the Rest:

    Equal distribution among the 11th to 50th places ensures that all loyal players are rewarded, maintaining inclusivity.

3. Balanced Budget Allocation:

    ₹40,000 is dedicated to rewarding the top 10 performers, reflecting their significant contributions.
    The remaining ₹10,000 ensures the larger group of 40 players also gets recognition.

4. Simplicity:

    The structure is straightforward and easy to communicate, enhancing transparency and buy-in from players.

* Advantages:

1. Motivates top performers with significant rewards.
2. Retains fairness for the larger group with smaller but equal bonuses.
3. Builds trust and satisfaction among all rewarded players.

***

# Part C

### Would you say the loyalty point formula is fair or unfair?

### Can you suggest any way to make the loyalty point formula more robust?

The current Loyalty Point formula is :
Loyalty Points = (0.01 × Deposit Amount) + (0.005 × Withdrawal Amount) + (0.001 × max(num of Deposits - num of Withdrawals, 0)) + (0.2 × Games Played)

* Strengths:

1. Encourages Deposits: Weightage on deposit amount incentivizes more deposits.
2. Encourages Gaming Activity: High weightage (0.2) for games played promotes engagement.
3. Balances Withdrawals: Including withdrawals ensures a player’s cash-out activity is not ignored.
4. Bonus for Deposit-Withdrawal Difference: Rewards frequent depositors over withdrawers.

* Potential Issues:
1. Overemphasis on Games Played: Players who play many games might dominate the leaderboard regardless of financial activity.
2. Inequality Among Players: High depositors might overshadow consistent players with smaller financial transactions.
3. Doesn’t Reward Longevity: Loyal players over multiple months aren't distinguished from recent high performers.


* Suggestions for Improvement To make the formula more robust and equitable:

1. Introduce Milestone Bonuses:

Reward players who reach certain cumulative milestones (e.g., ₹10,000 deposits, 100 games played, or loyalty points above a threshold).
Formula Addition: + (0.05 × Milestone Bonus).


2. Balance Deposits and Games Played:

Adjust the weights to reflect both financial contributions and gaming activity equally.
New Weights Example: (0.015 × Deposit Amount) and (0.15 × Games Played).

3. Penalize Negative Behaviors:

Deduct points for excessive withdrawals or inactivity over a period.
Formula Addition: - (0.002 × Excess Withdrawals).

4. Incorporate Longevity:

Reward players who remain active over consecutive months.
Formula Addition: + (0.1 × Months Active).

5. Cap High Scores:

Introduce diminishing returns on loyalty points for deposits or games played beyond a certain limit, ensuring fairness for low-budget players.
Formula Adjustment: Cap games played at 500/month.
Account for Player Feedback:

Periodically review the formula based on player feedback and adjust weights accordingly.
Revised Formula Example
Loyalty Points = (0.015 × Deposit Amount) + (0.007 × Withdrawal Amount) + (0.001 × max(#Deposits - #Withdrawals, 0)) + (0.15 × Games Played) + (0.1 × Months Active)

* This version:

Rewards all types of contributions (financial, engagement, and loyalty).
Encourages balanced behavior and longer-term participation.
Avoids over-rewarding players with extreme activity in a single category.
Conclusion
The current formula has strengths but could be made more inclusive and equitable. Introducing adjustments like milestone bonuses, longevity rewards, and rebalancing the weights will create a more robust and engaging system that appeals to a broader range of players.